.app-header {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 12px 16px;
  background: rgb(101, 101, 244);
}
.reset-btn {
  height: 40px;
  padding: 0px 16px;
  border-radius: 8px;
  border: 0;
  cursor: pointer;
}
.reset-btn:hover{
  background-color: rgba(255, 255, 255, 0.755);
}
