.overview-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
}
.title{
  padding-right: 8px;
  text-align: end;
}
.overview-container__btn-list {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 16px;
}
.overview-container__btn-list__btn {
  height: 40px;
  background: rgb(149, 235, 138);
  padding: 0px 16px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  &:hover {
    background: rgba(149, 235, 138, 0.713);
  }
}
