.overview-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
  padding: 24px;
}
.title{
  padding-right: 8px;
  text-align: end;
}
.overview-container__btn-list {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  gap: 16px;
  min-width: max-content;
}
.mdc-button.overview-container__btn-list__btn {
  height: 40px;
  background-color: rgb(149, 235, 138);
  border-radius: 8px;
}
